* {
    box-sizing: border-box;
}

.button {
 
    background-color: gray;
    color: black;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
  
  

}

.button:hover {
    background-color: darkgray;
      
}
