.authForm {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.inputsAndButton {
    padding: 16px 0 16px 0;
    display: flex;
    justify-content: right;
    gap: 16px;

}

.input {
    border-radius: 8px;
    border: 1px solid lightgray;
}